[Unit]
Description=Dynoxy Service
After=network.target

[Service]
Type=simple
User=nobody
Group=nogroup
WorkingDirectory=/home/cestx/dynoxy-s
ExecStart=/home/cestx/dynoxy-s/dynoxy-s
Restart=on-failure
RestartSec=10
AmbientCapabilities=CAP_NET_BIND_SERVICE  # If needed, granting minimal capabilities

[Install]
WantedBy=multi-user.target