[Unit]
Description=dynoxy-s Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/cestx/dynoxy-s
ExecStartPre=go build -o dynoxy-s
ExecStart=./dynoxy-s
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
