[Unit]
Description=Logger Service
After=network.target

[Service]
Type=simple
User=nobody
Group=nogroup
WorkingDirectory=/home/cestx/logger-s
ExecStart=/home/cestx/logger-s/logger-s
Restart=on-failure
RestartSec=10
AmbientCapabilities=CAP_NET_BIND_SERVICE  # If needed, granting minimal capabilities

[Install]
WantedBy=multi-user.target