[Unit]
Description=logger-s Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/cestx/logger-s
ExecStartPre=go build -o logger-s
ExecStart=./logger-s
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
