[Unit]
Description=machine-s Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/cestx/machine-s
ExecStart=go build -o machine-s && ./machine-s
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
