[Unit]
Description=rabbitmq Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/cestx/rabbitmq
ExecStart=echo "Ok"

# ExecStart=docker-compose up -d
# Restart=on-failure

[Install]
WantedBy=multi-user.target
