[Unit]
Description=registry Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/cestx/registry
ExecStartPre=go build -o registry 
ExecStart=./registry
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
